# distribution

*.html
- 
- `fredr` package for `R` found [here](https://cran.r-project.org/web/packages/fredr/vignettes/fredr.html)

# Virtual Environments
env/

# Passwords and credentials
FRED/*.json


# Python cache 
__pycache__/
*.py[cod]

# IDE specific files 

.idea/
.vscode/

# Environment specific files
.env

